@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    background-image: url("images/background_test.jpg");
    font-family: Open Sans;
    font-size: 50px;
    color: #222;
}

label {
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    display: block;
    width: 576px;
    height: 384px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.card {
    position: relative;
    height: 100%;
    width: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 600ms;
    transition: all 600ms;
    z-index: 20;
}

.card div {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #FFF;
    text-align: center;
    line-height: 200px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 2px;
}

.card .back {
    background: #222;
    color: #FFF;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

label:hover .card {
    -webkit-transform: rotateY(10deg);
    transform: rotateY(10deg);
    box-shadow: 0 10px 10px rgba(50,50,50,.2);
}

input {
    display: none;
}

:checked + .card {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}

label:hover :checked + .card {
    transform: rotateY(170deg);
    -webkit-transform: rotateY(170deg);
    box-shadow: 0 10px 10px rgba(255,255,255,.2);
}